
.btn1 {
  /* display: none; */

  bottom: 10px;
  left: 10px;
  /* bottom: 280px;
  right: 10px; */

  background-color: transparent;
  /* background-color: #ffffff;
  border: 0px;
  box-shadow: rgb(0 0 0 /30%) 0px 1px 4px -1px;
  border-radius: 25px; */
  width: 50px;
  height: 50px;
  cursor: pointer;
  touch-action: none;
  position: fixed;

  color: white
}

#btnLatLong{
  /* display: none; */
  opacity: 0;
}

#eye_on {
  display: none;
}

#eye_off {
  display: none;
}

.btn_eye{
  /* display: none; */
  bottom: -2px;
  left: 2px;
  background-color: transparent;
  border: 0px;
  box-shadow: rgb(0 0 0 /30%) 0px 1px 4px -1px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  touch-action: none;
  position: fixed;
  z-index: 3;
  mix-blend-mode: difference;
  text-shadow: 0px 1px gray;
}

.btn2 {
  /* display: none; */
  bottom: 50px;
  left: -3px;

  background-color: transparent;
  border: 0px;
  box-shadow: rgb(0 0 0 /30%) 0px 1px 4px -1px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  touch-action: none;
  position: fixed;
  z-index: 3;
  mix-blend-mode: difference;
  text-shadow: 0px 1px gray;
}

.btn3 {
  display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    color: #ffffff;


    margin: 0 !important;
    /* background-image: url("./images_info/eye-clean.png") !important;
    background-size: 100% 100% !important; */
    mix-blend-mode: difference;
}

.modal1 {
    padding-top: 100px;
}

.modal2 {
    padding-top: 0px;
}

/* Modal Content */
.modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; */
    width: 80%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-content1 {
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-content2 {

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
