@font-face {
  font-family : 'bb-book-mono';
  src: url("./fonts/bb-book-mono.woff") format('woff'),
        url("./fonts/bb-book-mono.woff2") format("woff2"),
        url("./fonts/bb-book-mono.otf") format('otf'),
  font-family : 'FKGroteskMonoTrial';
  src: url("./fonts/FKGroteskMonoTrial-Regular.otf") format('otf'),
}

@font-face {
  font-family: 'FKGroteskMonoTrial-Regular';
  src: url('./font/FKGroteskMonoTrial-Regular.woff') format('woff');
  src: url('./font/FKGroteskMonoTrial-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'FKGroteskSemiMonoTrial-Regular';
  src: url('./font/FKGroteskSemiMonoTrial-Regular.woff') format('woff');
  src: url('./font/FKGroteskSemiMonoTrial-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'ABCRepro-Regular';
  src: url('./font/ABCRepro-Regular.otf') format('otf');
}




html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  height: 100%;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  /* display: inline; */
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gm-style {
  font: ABCRepro-Regular,sans-serif !important;
  font-weight: normal !important;
}

.gm-style-iw-d {
  /* font-family: bb-book-mono, sans-serif; */
  font: FKRasterGroteskTrial-Blended  !important;
  font-weight: normal !important;
  color: #000000;
  /* color: #00ff00; */
}


div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border: 2px solid #4CAF50;
}

div.fixed {
  position: fixed;
  top: -45px;
  left: 15px;
  width: 100%;
  height: 400px;
  /* background-color: #ffffff; */
  /* border: 3px solid #73AD21; */
  font-family: Brutal-Light, sans-serif;
  font-weight: 300;
  font-style: normal;
  /*detail*/
  font-size: 8.3rem;
  line-height: 1.6;
}


.inactiveLink {
   pointer-events: none;
   cursor: default;
}





/* .gm-iv-container{
  margin-top:100px;
}
.gm-iv-address{
  margin-top:100px;
} */



/* Map BG color */

#map > div {
  background-color: #000000 !important; /* For browsers that do not support gradients */
  background-image: repeating-linear-gradient(180deg, #1401fa 0%, #1401fa 50%, #000000 50%, #000000 100%);
}


/* Info */

/* Info Window */
.gm-style-iw-c {
  padding-top: 11px !important;
  padding-bottom: 0px !important;
  padding-left: 13px !important;
  padding-right: 13px !important;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar {
  display: none;
  width: 13px;
  height: 0px;
}

.gm-style .gm-style-iw-c {
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%) !important;
  border-radius: 12px !important;
  background-color: transparent !important;
}

.gm-style .gm-style-iw-t::after {
  background: linear-gradient(45deg,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%) transparent;
  /* background: linear-gradient(45deg,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%) #fff; */
  box-shadow: 0px 0px 0px 0 rgb(255 255 255 / 0%);
}

.gm-style-iw-tc {
  display: none;
}

/* Info Window Text */
#firstHeading {
  padding-bottom: 0px;
  /* padding-bottom: 10px; */
  font-size: 14px;
}

#bodyContent {
  padding-bottom: 1px;
  /* text-align: center; */
}

.gm-style-iw-d {
  font-family: ABCRepro-Regular,sans-serif;
  /* font-family: FKGroteskMonoTrial-Regular,sans-serif; */
  /* font-family: bb-book-mono, sans-serif; */
  /* font-family: FKGroteskMonoTrial-Regular; */
  /* font-family: FKRasterGroteskTrial-Blended; */
  color: #ffffff;
  padding: 0px;
  text-align: center;
  mix-blend-mode: difference;
}


/* Info: Google Watermark */

.gm-style > div > div > a > div {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% !important;
  /* background: radial-gradient(100% 95% at center, transparent calc(50% - 20px), black 0%) !important; */
  /* background-position: 50% 50% !important; */
  /* background-image: url("./images_info/eye-clean.png") !important; */
  background-size: 100% 100% !important;
  background-color: transparent !important;
  pointer-events: none !important;
}

.gm-style > div > div > a > div > img {
  display: none;
}


/* Info Window x icon */
button.gm-ui-hover-effect {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: 100% !important;
}

.gm-ui-hover-effect > span {
  background-color: transparent !important;
}

/* Info Window images */
.info-image {
  width: 100%;
  margin-top: 13px;
  border-radius: 50%;
}

/* Buttons Style */

/* Pegman */
.gm-svpc {
  border-radius: 25px !important;
  /* border: 1.5px solid !important; */
  border-color: transparent !important;
  background-color: transparent !important;
  /* border-color: #ffffff !important;
  background-color: #ffffff !important; */
  box-shadow: rgb(0 0 0 /0%) 0px 1px 4px -1px !important;
  width: 50px !important;
  height: 50px !important;
  margin-left: -10px !important;
  z-index: 10000000 !important;

  left: 8px !important;
  /* position: fixed !important;
  top: auto !important;
  left: auto !important;
  bottom: 100px !important;
  right: 20px !important;
  pointer-events:all !important; */
}

.gm-svpc < div {
  z-index: 10000000 !important;
}


/* Zoom-In, Zoom-Out buttons */
.gmnoprint{
  /* display: none; */
  /* z-index: 10 !important; */

  margin-bottom: 0px;
  margin-left: -5px;
  /* background: red !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none !important; */
}

.gmnoprint > div {
  box-shadow: rgb(0 0 0 /0%) 0px 1px 4px -1px !important;
  /* border-radius: 20px !important; */
  /* background-color: transparent !important; */
  /* z-index: 5 !important; */
}

button.gm-control-active > img {
  visibility: hidden !important;
}

.gmnoprint > div > div {
  padding-bottom:10px;
  background-color: transparent !important;
}

.custom-zoom-icon{
  position: fixed;
  bottom: 10px;
  right: 15px;
  width: 40px;
  height: 91px;
  z-index: 5;
  pointer-events: none;
  mix-blend-mode: difference;
  text-shadow: 0px 1px gray;
}

/* Bottom Water Mark */
.gm-style-cc{
  /* display: none; */
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: auto !important;
  bottom: auto !important;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none !important;
  background: radial-gradient(100% 95% at center, transparent calc(50% - 60px), black 0%) !important;
  background-position: 50% 50% !important;
  opacity: 1;
  /* background-image: url("./images_info/eye-clean.png") !important; */
  background-size: 100% 100% !important;
  background-color: transparent !important;
}

.gm-style-cc > div {
  display: none !important;
}


/* div.gm-style > div > div {
  top: 100px;
} */

.gm-fullscreen-control{
  display:none;
}














/* 3D view: campus button */
.gm-compass {
  display: none;
  margin-left: -2.5px;
}


.gm-iv-address {
    opacity: 1 !important;
    position: fixed !important;
    width: 100% !important;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;

    pointer-events: none !important;
    height: 100% !important;

    mix-blend-mode: difference !important;
    background-color: black !important;

    /* z-index: 24701 !important; */
    z-index: 10000001 !important;

    /* backdrop-filter: blur(10px);
    clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 95%, 5% 95%, 5% 100%, 100% 100%, 100% 0%); */
    /* clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%); */

    /* background-image: url("./images_info/eye-clean_W.png") !important;
    background-size: 100% 100% !important; */

    /* background-repeat: no-repeat !important; */
    /* backdrop-filter: blur(10px); */
}

.gm-iv-address-description{
  position: absolute !important;
  top: -13px !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  text-align: center !important;
  max-width: 100% !important;
  pointer-events: none !important;
  padding: 0 !important;
  /* transform: translate(100%, 0) !important; */
  /* transform: translate(-25px, -14px) !important; */
  /* transform: translate(-25px, -14px) !important; */
}

.gm-iv-profile-url > a{
  opacity: 1 !important;
}

.gm-iv-profile-link{
  font-family: ABCRepro-Regular,sans-serif !important;
  /* font-family: bb-book-mono, sans-serif !important; */
  font-size: 48px !important;
  /* margin-top: 100px !important; */
  color: #ffffff !important;
  opacity: 1 !important;
  font-weight: normal !important;
  pointer-events: none !important;

  text-shadow: 0px 1px gray !important;
}


.gm-iv-short-address-description{
  font-family: ABCRepro-Regular,sans-serif !important;
  font-size: 48px !important;
  color: #ffffff !important;
  opacity: 1 !important;
  font-weight: normal !important;
  pointer-events: none !important;
  text-shadow: 0px 1px gray !important;
}

/* .gm-style > div > div > div {
  width: 100% !important;
    height: 100% !important;
    pointer-events: none !important;
} */

.gm-iv-container{
  /* display: none; */
  /* background-color: red !important; */
  border-right: 0px !important;
  width: 100% !important;
  height: 100% !important;

  /* background: radial-gradient(100% 95% at center, transparent calc(30% - 20px), black 45%, transparent 0%) !important; */
  /* background: radial-gradient(100% 95% at center, transparent calc(50% - 20px), black 0%) !important;
  background-size: 100% 100% !important;
  background-position: 50% 50% !important; */
  opacity: 0;
  pointer-events: none !important;
  /* background-image: url("./images_info/eye-clean.png") !important;
  background-size: 100% 100% !important;
  opacity: 1;
  background-color: transparent !important;
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0 !important;
  pointer-events: none !important; */
  /* mix-blend-mode: difference !important; */
}

.gm-iv-address{
  opacity: 1 !important;
  background-color: transparent !important;
}

.gm-iv-long-address-description{
  display: none !important;
  font-family: bb-book-mono, sans-serif !important;
  font-size: 3em !important;
  margin-top: 100px !important;
}

/* View on Google Maps */
.gm-iv-address-link > a{
  display: none;
  font-family: bb-book-mono, sans-serif !important;
  font-size: 6em !important;
  color: transparent !important;
  /* color: red !important; */
  transform: translate(-25px, -14px) !important;
}

.gm-iv-marker {
  display: none;
}

.gm-iv-back-icon-background {
  background-image: url("palm-tree.svg") !important;
}

.gm-iv-vertical-separator {
  display: none;
}

/* View on Google Maps: back icon */
.gm-iv-back {
  /* display: none; */
  position: fixed !important;
  left: 0 !important;
  bottom: 50px !important;
  padding: 30px !important;
  opacity: 0 !important;

  pointer-events: all !important;
}


/* 3d view: 1,2,3 buttons */
.gm-bundled-control-on-bottom > div > button {
  display: none;
}
