/* body {background-color: coral;} */

.scrolling-container-top {
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  top: 5px;
}

.scrolling-top {
  background: url("./scrolling/scrolling_top.svg") repeat-x;
  height: 78px;
  width: 5450px;/* The image width x 2 */
  animation: slide-top 19s linear infinite;
}

@keyframes slide-top {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-2725px); /* The image width */
  }
}



.scrolling-container-bottom {
  overflow: hidden;
  position: fixed;
  pointer-events: none;
  bottom: 10px;
  z-index: 2;
}

.scrolling-bottom {
  background: url("./scrolling/scrolling_top.svg") repeat-x;
  height: 78px;
  width: 5450px;/* The image width x 2 */
  animation: slide-bottom 19s linear infinite;
  z-index: 2;
}

@keyframes slide-bottom {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-2725px); /* The image width */
  }
}


/* .scrolling-image {
  background: url("palm-tree.png") repeat-x;
  height: 750px;
  width: 7680px;
  animation: slide 100s linear infinite;
}


@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px);
  }
} */
